# backend
backend/**/__pycache__/
backend/**/*.pyc
backend/.env

# frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env

# eval
backend/eval/


# claude
.claude
CLAUDE.md

# MacOS
.DS_Store